---
layout: page
title: Projects
---
<section class="list">

    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2018.07 ~ 진행중</h6></aside>
            <h3 class="title">스마트택배 앱 설문 플랫폼 프로젝트</h3>
        </a>
    </div>
    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2018.01 ~ 2018.02</h6></aside>
            <h3 class="title">배송 추적 에이전트 통합 및 컨버팅 작업</h3>
        </a>
    </div>
    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2017.08 ~ 2018.05</h6></aside>
            <h3 class="title">택배 접수 연계 및 반품 리펙토링</h3>
        </a>
    </div>
    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2017.02 ~ 2017.06</h6></aside>
            <h3 class="title">홈픽- 택배 1시간 픽업 서비스</h3>
        </a>
    </div>
    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2017.02 ~ 2017.06</h6></aside>
            <h3 class="title">고객사 제공 관리자 통계 웹 페이지 개발</h3>
        </a>
    </div>
    <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <aside><h6>2016.08 ~ 2016.12</h6></aside>
            <h3 class="title">비즈엠 웹 개발</h3>
        </a>
    </div>

</section>
