 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>OS</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <p> MacOS, Linux, Windows</p>
    </div>
    <div class="tech">
      <h2>Platform</h2>
      <i class="devicon-apache-line-wordmark colored"></i>
      <i class="devicon-tomcat-line-wordmark colored"></i>
      <i class="devicon-nginx-original-wordmark colored"></i>
      <p>Apache,Tomcat, Nginx</p>
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>    
 <i class="devicon-typescript-plain-wordmark"></i>    
  <i class="devicon-javascript-plain-wordmark"></i>   
   <i class="devicon-html-plain-wordmark"></i>   
      <p>java, python, nodejs, typescript, javacipt, html</p>
    </div>
    <div class="tech">
      <h2>DB</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <p>MySql, Oracle, sqlServer</p>
    </div>
</div>
