{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if page.title == "Projects" %}
                <h1 class="title" style="color: #F5D0A9">{{ site.name }}</h1>
        <h2 class="description" style="font-weight: 200">{{ site.bio }}</h2>
        <h4 class="description" style="font-weight: 100; font-size: small; color: #585858">
            주로 Java 기반의 RESTful API 개발을 하였으며
            서버 대량 처리와 트래픽 처리, KT U Cloud, AWS, NGINX와
            Java-Spring Boot 및 Python-Django를 이용한 웹 어플리케이션 개발 경험이 있습니다.
        </h4>
        <ul class="skill-list"  style="font-weight: 100; font-size: small; color: #585858">
            <li>JAVA, PYTHON, C, C++, Javascript, Typescipt, HTML5

            <li>Apache Tomcat, Spring, Springboot, Github, Jetbrains IDE, Angular2, Django</li>

            <li>Android, Linux, Windows

            <li>Mysql, Mssql, Oracle</li>
        </ul>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />

        <h1 class="title" style="color: #F5D0A9 !important;">{{ site.name }}</h1>
        <h2 class="description" style="font-weight: 200; color: #848484; font-size: large">{{ site.bio }}</h2>
                <h3 class="description" style="font-weight: 100; font-size: small; color: #555555"> RESTful API / Spring boot / Django / Angular2 </h3>
                 <h4 class="description" style="font-weight: 100; font-size: small; color: #555555">아래 "Projects" 에서 프로젝트 수행 이력들을 보실 수 있습니다</h4>
            </span>
        {% endif %}

        {% include social-links.html %}



    </header>
{% endif %}

{% include nav.html %}
