{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.Projects %}
            <a class="link" href="{{ site.url }}">
                <h1 class="title">{{ site.name }}</h1>
            </a>
        <h2 class="description" style="color: lightgrey; font-weight: 200">{{ site.bio }}</h2>
        <h4 class="description">현재 스마트 택배 앱을 제공하는 스윗트래커에서 서비스 플랫폼 파트에 재직 중에 있으며 서버 개발 및 배송 정보 서비스, 택배 접수, 반품 부분의 운영을 담당하고 있습니다.</h4>

        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description" style="color: lightgrey; font-weight: 200">{{ site.bio }}</h2>
            </span>
        {% endif %}

    </header>
{% endif %}

{% include nav.html %}
